:root {
    --board-width: 650px;
    --cell-width: calc(var(--board-width) / 15);
    --board-bg: white;
    --red: red;
    --green: #07c107;
    --yellow: rgb(255 209 0);
    --blue: #2311db;
    --cell-border-color: rgb(216, 216, 216);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(206, 206, 206);
    background: url('../assets/img/bg.jpg') no-repeat  center center fixed;
    background-size: cover;
    // min-height: 100vh;
    font-family: 'Bangers', cursive;
    color: white;
}
main>h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 10px;
    font-size: 3em;
}
main .board {
    width: var(--board-width);
    height: var(--board-width);
    margin: auto;
    background: var(--board-bg);
    border-radius: 10px;
    outline: 4px solid white;
    .red {
        background-color: var(--red);
    }
    .green {
        background-color: var(--green);
    }
    .blue {
        background-color: var(--blue);
    }
    .yellow {
        background-color: var(--yellow);
    }
    .section {
        display: flex;
        .private {
            width: calc(var(--cell-width) * 6);
            height: calc(var(--cell-width) * 6);
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            .cells {
                background: white;
                width: calc(var(--cell-width) * 4);
                height: calc(var(--cell-width) * 4);
                align-items: center;
                justify-content: center;
                .cell {
                    width: calc(var(--cell-width) * 1);
                    height: calc(var(--cell-width) * 1);
                    border-radius: 100px;
                    flex-shrink: 0;
                    flex-grow: 0;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
        }
        .cells {
            display: flex;
            flex-wrap: wrap;
            .cell {
                flex-shrink: 0;
                width: var(--cell-width);
                height: var(--cell-width);
                border: 1px solid var(--cell-border-color);
                position: relative;
                &.star{
                    background-image: url('../assets/img/star.png');
                    background-size: 80%;
                    background-repeat: no-repeat;
                    background-position: center;

                }
                .pawn{
                    // position: absolute;
                    // top: 0;
                    // left: 0;
                }
            }
        }
        &.section-1 {
        }
        &.section-2 {
            & > .cells {
                // width: calc(var(--cell-width)*6);
            }
            .homes {
                width: calc(var(--cell-width) * 3);
                height: calc(var(--cell-width) * 3);
                flex-shrink: 0;
                position: relative;
                overflow: hidden;
                .home{
                    position: absolute;
                    width: 40px;
                    height: 70px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .cells{
                        flex-direction: column;
                        .cell{
                            width: 15px;
                            height: 15px;
                            border: none;
                            .pawn{
                                transform: scale(1.3);
                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                    &.red{
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &.green{
                        height: 40px;
                        width: 70px;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    &.blue{
                        height: 40px;
                        width: 70px;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    &.yellow{
                        right: 0;
                        bottom: 50%;
                        transform: translateY(50%);
                    }
                    &.green, &.blue{
                        .cells{
                            flex-direction: row;
                        }
                    }
                }
            }
        }
        &.section-3 {
        }
    }
    .pawn{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        border-radius: 50px;
        // border: 1px solid rgb(0, 255, 242);
        z-index: 99;
        img{
            width: 90%;
        }
        &.highlight{
            box-shadow: 0px 0px 10px 2px rgb(255, 213, 0);
            border: 4px dashed rgb(0, 0, 0);
            animation: highlightPawn .5s infinite alternate-reverse;
            cursor: pointer;
        }

    }
    .dashboard{
        width: 100%;
        height: 70px;
        margin-top: 40px;
        border-radius: 10px;
        border: 4px solid white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 28px;
        color: white;
        // padding: 20px;
        position: relative;
        &.blue{
            background-color: var(--blue);
            .dice-section{
                background-color: var(--blue);
            }
        }
        &.red{
            background-color: var(--red);
            .dice-section{
                background-color: var(--red);
            }
        }
        &.green{
            background-color: var(--green);
            .dice-section{
                background-color: var(--green);
            }
        }
        &.yellow{
            background-color: var(--yellow);
            .dice-section{
                background-color: var(--yellow);
            }
        }
        // .player
        .dice-section{
            width: 100px;
            height: 100px;
            border-radius: 30px;
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            border: 4px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all .2s;
            &:hover{
                // transform: scale(1.2);
            }
            &.highlight{
                &::before{
                    content: '';
                    display: block;
                    width: 80px;
                    height: 80px;
                    border: 5px dashed rgb(0, 0, 0);
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 100px;
                    animation: highlightDice .5s ease-out infinite alternate-reverse;                
                }
            }
            .dice{
                width: 80%;
                height: 80%;
                // border: 1px solid red;
                background-image: url('../assets/img/diceValues.png');
                background-size: cover;
                &.face-1{
                    background-position-x: 0%;
                }
                &.face-2{
                    background-position-x: 20%;
                }
                &.face-3{
                    background-position-x: 40%;
                }
                &.face-4{
                    background-position-x: 60%;
                }
                &.face-5{
                    background-position-x: 80%;
                }
                &.face-6{
                    background-position-x: 100%;
                }
                &.rolling{
                    animation: diceRoll 1.2s ease-out;
                }
                &.glowing{
                    // animation: diceGlow .5s infinite alternate-reverse;
                }
            }
        }
    }
}

@keyframes diceRoll {
    to{
        background-image: url('../assets/img/diceRoll.png');
        transform: rotateZ(calc(360deg * 4));
        filter: blur(2px);
    }
}
@keyframes diceGlow {
    to{
        box-shadow: 0px 0px 30px 6px rgb(255, 213, 0)
    }
}
@keyframes highlightPawn {
    to{
        transform: scale(1.2);
    }
}
@keyframes highlightDice  {
    to{
        transform: scale(1.2);
        box-shadow: 0px 0px 30px 6px rgb(255, 213, 0);
    }
}
